@import "./variables";

.fs-grid-wrap {
  padding: $grid-gap;
}

.fs-grid {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(5, [row] auto);
  grid-column-gap: $grid-gap;
  grid-row-gap: $grid-gap;

  .fs-grid-col-1 {
    grid-column: span 1;
    grid-row: row;
  }

  .fs-grid-col-2 {
    grid-column: span 2;
    grid-row: row;
  }

  .fs-grid-col-3 {
    grid-column: span 3;
    grid-row: row;
  }

  .fs-grid-col-4 {
    grid-column: span 4;
    grid-row: row;
  }

  .fs-grid-col-5 {
    grid-column: span 5;
    grid-row: row;
  }

  .fs-grid-col-6 {
    grid-column: span 6;
    grid-row: row;
  }

  .fs-grid-col-7 {
    grid-column: span 7;
    grid-row: row;
  }

  .fs-grid-col-8 {
    grid-column: span 8;
    grid-row: row;
  }

  .fs-grid-col-9 {
    grid-column: span 9;
    grid-row: row;
  }

  .fs-grid-col-10 {
    grid-column: span 10;
    grid-row: row;
  }

  .fs-grid-col-11 {
    grid-column: span 11;
    grid-row: row;
  }

  .fs-grid-col-12 {
    grid-column: span 12;
    grid-row: row;
  }
}