$body-font-url: 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap';
$body-font-family: 'Open Sans', sans-serif;

$header-font-url: 'https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap';
$header-font-family: 'Raleway', sans-serif;

$body-bkgd: #EDF1F7;

$brand-dark: #053333;