@import "../styles/variables";

@mixin btn-filled($map) {
  background-color: map-get($map, 'background-default');
  color: map-get($map, 'foreground');
  border-color: map-get($map, 'border-default');

  &:hover {
    background-color: map-get($map, 'background-hover');
    border-color: map-get($map, 'border-hover');
  }

  &:focus {
    background-color: map-get($map, 'background-focus');
    border-color: map-get($map, 'border-focus');
  }

  &:active {
    background-color: map-get($map, 'background-active');
    border-color: map-get($map, 'border-active');
  }
}

.fs-btn {
  border-radius: 4px;
  font-family: $body-font-family;
  font-weight: 700;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  transition: background-color ease-in-out 150ms;

  &.fs-btn-filled {
    text-transform: uppercase;

    &.fs-btn-primary {
      @include btn-filled($btn-primary-filled);
    }

    &.fs-btn-success {
      @include btn-filled($btn-success-filled);
    }

    &.fs-btn-info {
      @include btn-filled($btn-info-filled);
    }

    &.fs-btn-warning {
      @include btn-filled($btn-warning-filled);
    }

    &.fs-btn-danger {
      @include btn-filled($btn-danger-filled);
    }
  }

  &.fs-btn-outline {
    text-transform: uppercase;
  }

  &.fs-btn-ghost {
    background-color: transparent;
    border-color: transparent;

    &:hover {
      background-color: scale-color($color: map-get($color-basic, 600), $alpha: -92%);
    }

    &:active {
      background-color: scale-color($color: map-get($color-basic, 600), $alpha: -84%);
    }

    &:focus {
      background-color: scale-color($color: map-get($color-basic, 600), $alpha: -84%);
      border-color: scale-color($color: map-get($color-basic, 600), $alpha: -60%);
      box-shadow: 0 0 0 4px scale-color(map-get($color-basic, 600), $alpha: -84%);
    }

    &.fs-btn-default {
      color: map-get($color-basic, 600);
    }

    &.fs-btn-primary {
      color: map-get($color-primary, 500);
    }

    &.fs-btn-success {
      color: map-get($color-success, 500);
    }

    &.fs-btn-info {
      color: map-get($color-info, 500);
    }

    &.fs-btn-warning {
      color: map-get($color-warning, 500);
    }

    &.fs-btn-danger {
      color: map-get($color-danger, 500);
    }

    &:disabled {
      color: scale-color($color: map-get($color-basic, 600), $alpha: -52%);
    }
  }

  &.fs-btn-tiny {
    font-size: 10px;
    line-height: 12px;
    padding: 6px 12px;
  }

  &.fs-btn-small {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 16px;
  }

  &.fs-btn-medium {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 20px;
  }

  &.fs-btn-large {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 20px;
  }

  &.fs-btn-giant {
    font-size: 18px;
    line-height: 24px;
    padding: 16px 24px;
  }
}