@import 'styles/reset';
@import 'styles/variables';
@import 'styles/typography';

html, body {
  box-sizing: border-box;
}

body {
  font-family: $body-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $body-bkgd;
}
